.header
  ul.nav.nav-pills.pull-right
    li.active
      a(ng-href='#') Home
    li
      a(ng-href='#') About
    li
      a(ng-href='#') Contact
  h3.text-muted claasApp
.jumbotron
  h1 CLaaS/LaaS (Computational) Linguistics as a Service
  p.lead
    REST Linguistic REST API
  p
    a.btn.btn-lg.btn-success(ng-href='#') Splendid!
.row.marketing(ng-controller='MainCtrl')
  h2 Linguistic Resources available
  div(ng-repeat='resource in resources')
    h4: a(href='{{resource.link}}') {{resource.name}}
.footer
  p Scaffolded out using Yeoman and generator-angular-fullstack by dbr.