div(ng-controller='NGramCtrl')
  h1 N-Gram generation

  p Use the form below or post your request to the API:
  pre curl --data "data=foo bar baz quux" --data "size=4" localhost:9000/api/v1/ngram

  span This backend is provided by: 
  a(href='{{backend.link}}') {{backend.name}}
  br

  .tokenize
    form.well(name="NGramForm",ng-submit='submit(form)')
      .control-group
        label.control-label
          span N-Gram size
        .controls
          input(
            type     = "range",
            name     = "N-Gram size",
            ng-model = "form.size",
            ng-init  = "3",
            min      = "1",
            max      = "10",
            step     = "1",
          ) 
          {{form.size}}
      .control-group
        label.control-label
          span Transliterate text
        .controls
          .btn-group
            textarea(ng-model="form.data", cols=60, rows=12, required, autofocus)
      .control-group
        label.control-label
          span Standalone
        .controls
          .btn-group
            button.btn.btn-default#submit(type="submit", ng-disabled='NGramForm.$invalid') Submit
    pre(ng-model="data")
      {{data.ngrams}}
