h1 Tokenize
p Use the form below or post your request to the API:
pre curl --data "data=this is a string." localhost:9000/api/v1/tokenize

.tokenize(ng-controller='TokenizeCtrl')
  form.well(name="tokenizeForm",ng-submit='submit()')
    .control-group
      label.control-label
        span Tokenize text
      .controls
        .btn-group
          textarea(ng-model="tokenize.text", cols=60, rows=12, required, autofocus)
    .control-group
      label.control-label
        span Standalone
      .controls
        .btn-group
          button.btn.btn-default#submit(type="submit", ng-disabled='tokenizeForm.$invalid') Submit
  pre(ng-model="data")
    {{data.tokenized}}
