h1 Chunk
p Use the form below or post your request to the API:
pre curl --data "data=this is a string." localhost:9000/api/v1/chunker

.tokenize(ng-controller='ChunkerCtrl')
  form.well(name="chunkForm",ng-submit='submit()')
    .control-group
      label.control-label
        span Chunk text
      .controls
        .btn-group
          textarea(ng-model="chunker.text", cols=60, rows=12, required, autofocus)
    .control-group
      label.control-label
        span Standalone
      .controls
        .btn-group
          button.btn.btn-default#submit(type="submit", ng-disabled='chunkForm.$invalid') Submit
  pre(ng-model="data")
    {{data.chunked}}
