h1 Wylie Transliteration
p Use the form below or post your request to the API:
pre curl --data "data=bkra shis bde legs" localhost:9000/api/v1/wylieTransliterate

span This backend is provided by: 
a(href='{{backend.link}}') {{backend.name}}
br

.tokenize(ng-controller='WylieTransliterationCtrl')
  form.well(name="wylieTransliterationForm",ng-submit='submit()')
    .control-group
      label.control-label
        span Transliterate text
      .controls
        .btn-group
          textarea(ng-model="wylieTransliterationForm.text", cols=60, rows=12, required, autofocus)
    .control-group
      label.control-label
        span Standalone
      .controls
        .btn-group
          button.btn.btn-default#submit(type="submit", ng-disabled='wylieTransliterationForm.$invalid') Submit
  pre(ng-model="data")
    {{data.transliterated}}
